@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.button {
  border-radius: 20px;
  background-color: #56a0d3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  width: 210px;
  height: 40px;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.button span::after {
  content: url(ylw-arrow.png);
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span::after {
  opacity: 1;
}
